<!-- Footer -->

  <footer id="footer">
    <div class="container-fluid">

      <i class="footercon fab fa-twitter fa-2x"></i>
      <i class="footercon fab fa-facebook fa-2x"></i>
      <i class="footercon fab fa-instagram fa-2x"></i>
      <i class="footercon fab fa-discord fa-2x"></i>
      <p>© Copyright 2021 AnimalAid</p>

    </div>
  </footer>

</body>

</html>
