<%- include("partials/header.ejs") %>
<!-- -------Start--------- -->


      <div class="Abouthead">
        <br>
        <h3 class="h2AU">OUR VALUES AND MISSION</h3>
        <br>
        <div class="para">
          <p>Animal Aid in non profit organisation formed in 2019. Our aim to rescue, heal and care animals which are stray , also to rescue and treat the un-owned street animals of Maharashtra who have become ill or injured, and through their rescue inspire a community to protect and defend the lives of all animals.</p>
          <p>Our planet is in crisis from over-consumption, and the use and abuse of animals contributes tremendously to the climate catastrophe and incalculable animal suffering.</p>
          <p>Rescue is our strategy to immediately relieve suffering and encourage the protection of all animals lives by sharing their incredible stories of recovery and healing.</p>

        </div>
        </div>

    </div>
    </section>

      <div class="feature row">
        <div class="col-lg-6 h3">
          <h3>Since 2019 we have shared our helpline number throughout Pune city, resulting in the rescue of thousands of animals each year and an incredible increase in community awareness.</h3>
        </div>
        <div class="col-lg-6 ">
          <img class="monkey img about_animal" src="images/monkey.jpg" alt="monkey">
        </div>
      </div>

      <div class="feature row">
        <div class="col-lg-6 ">
          <img class="cow1 img about_animal" src="images/cow.png" alt="cow">
        </div>
        <div class="col-lg-6 h3">
          <h3>Whether a dog has been hit by a car, or a calf has fallen in a ditch, we are here to help the ownerless animals. We deploy our rescue team wherever needed.</h3>
        </div>

      </div>

      <div class="aboutusmore">
        <div class="container">

          <img src="images/donateus.jpg" alt="Dog" class="aboutusdog">
          <button class="aboutusbtn btn btn-danger">Know More</button>

        </div>

      </div>





<!-- ----------End--------------->
<%- include("partials/footer.ejs") %>
