<%- include("partials/header.ejs") %>

      <div class="title row">

        <div class="col-lg-6 ">
          <h1 class="heading2">Adopt pet animals and Donate.<br>Download our App. </h1>
          <button type="button" class="btn btn-primary btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>
        <div class="col-lg-6 ">
          <img class="dog1" src="images/app.png" alt="iphone-mockup">
        </div>

      </div>
  </section>

  <section id="donateus">

    <div class="donateus-background">

    </div>

    <div class="donateus-background row">
      <div class="donateus-background__text col-lg-6">
        <h3 class="heading3">
          <span class="heading3">Street animals need our protection.</span><br>
          Help them today.
        </h3>
        <a class="button btn btn-outline-dark button--donate" href=" " >Make a donation</a>
      </div>
        <div class="donateus-img col-lg-6">
          <img src="images/AboutUsDog.png" alt="">
        </div>

      </div>

  </section>


<%- include("partials/footer.ejs") %>
