<%- include("partials/header.ejs") %>

      <!-- title -->
      <div class="title row">
        <div class="bg-col-6 titlehead">
          <h1>Rescue. Heal. Inspire.</h1>
          <!-- <h2>Animals need our protection. We work for them.</h2> -->
          <div class="para">
            <br>
            <p>Animals need our help !!!  As mankind is progressing forward we</p>
            <p> are witnessing constant decline of standards of living of animals</p>
            <p> in our surroundings.</p>
            <br>
            <h3>We are here to save and help them.</h3>
          </div>

        </div>
        <div class="col-lg-6 ">
          <img class="cat" src="images/aa.jpg" alt="catanddog">
        </div>
      </div>

    </div>

  </section>

  <!-- about us and goals -->

  <section id="AboutUs">
    <div class="feature row">
      <div class="col-lg-6 h3">
        <h3>Animal Aid in non profit organisation formed in 2019. Our aim to rescue, heal and care animals which are stray or injured.</h3>
      </div>
      <div class="col-lg-6 ">
        <img class="monkey img" src="images/monkey.jpg" alt="monkey">
      </div>
    </div>

    <div class="feature row">
      <div class="col-lg-6 ">
        <img class="cow img" src="images/cow.png" alt="cow">
      </div>
      <div class="col-lg-6 h3">
        <h3>Most of our works are focussed in State of Maharashtra, India and our centres are spread across state.</h3>
      </div>

    </div>

    <div class="feature row">
      <div class="col-lg-6 h3">
        <h3>We believe all animals deserve our compassion and protection. We are working for the day when all animals' lives are respected for their inherent value, whether dogs, chickens, cows or fish.</h3>
      </div>
      <div class="col-lg-6 ">
        <img class="dog img" src="images/dog.jpg" alt="dog">
      </div>
    </div>

  </section>


  <!-- press -->
  <section id="press">
    <img class="press-logo" src="images/mashable.png" alt="tc-logo">
    <img class="press-logo" src="images/un.png" alt="tnw-logo">
    <img class="press-logo" src="images/GOI.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/bac.png" alt="mashable-logo">
  </section>

  <!-- testimonials -->
  <section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-interval="5000" data-pause="hover">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2>"Very inspiring and helpful organisation. To visit it was best decision."</h2>
          <img class="testimonialimg" src="https://i.imgur.com/jQWThIn.jpg" alt="person1">
          <em>Alex, New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"I adopted Tommy, stray dog. This is really very good initiative" </h2>
          <img class="testimonialimg" src="https://i.imgur.com/QptVdsp.jpg" alt="person2">
          <em>Beckham, London</em>
        </div>
      </div>
      <a class="carousel-control-prev " href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!-- Donate -->
  <section id="Donate">
    <div class="stats-banner ">
      <div class="stats-banner__wrapper">
        <h3 class="heading">Our numbers in 2021</h3>
        <div class="row">
          <div class="single-stat col-lg-4">
            <img class="single-stat__icon-wrapper" src="images/AA1.webp">
            <p class="single-stat__number counter single-stat__info" id="single-stat__number--one">517</p>
            <p class="single-stat__info">animals rescued</p>
          </div>
          <div class="single-stat col-lg-4">
            <img class="single-stat__icon-wrapper" src="images/AA2.webp">
            <p class="single-stat__number counter single-stat__info" id="single-stat__number--two">87</p>
            <p class="single-stat__info">average daily number of animals at Animal Aid</p>
          </div>
          <div class="single-stat col-lg-4">
            <img class="single-stat__icon-wrapper" src="images/AA3.webp">
            <p class="single-stat__number counter single-stat__info" id="single-stat__number--three">330</p>
            <p class="single-stat__info">visitors and volunteers</p>
          </div>
        </div>
        <a class="button donate btn btn-dark" href="" target="">Make a donation</a>
      </div>
    </div>
  </section>
<%- include("partials/footer.ejs") %>
